body {
  background: url(https://www.teahub.io/photos/full/96-964582_material-design-wallpapers-desktop-material-design-background-weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid whitesmoke;
  padding: 50px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

.weather-box {
  margin: 5px;
}

.weather-box > h1,
h2,
div {
  margin: 5px;
}

.button-area > button {
  margin: 5px;
  margin-top: 20px;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-area > button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-area > button:focus {
  user-select: auto;
}

.button-area > button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-area > button:disabled {
  cursor: auto;
}
